# dnsmasq configuration for local DNS
no-resolv
server=10.10.25.120
server=8.8.8.8
domain-needed
bogus-priv
expand-hosts
listen-address=127.0.0.1
listen-address={{ ansible_default_ipv4.address }}
domain=local
